*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
}

h1{
    /* font-family: 'Inter', sans-serif; */
font-family: 'Urbanist', sans-serif;
}

body{
    min-height: 100vh;
    background: url(./images/signupback2.jpg) center / cover;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    font-size: 14px;

}

 img {
    width: 36px;
    height: 36px;
    margin-right: 5rem;
    border-radius: 50%;

    vertical-align: middle;


}


table, th, td{
    padding: 8px;
    border-collapse: collapse;

}

main.table{
    width: 82vw;
    height: 90vh;
    background-color: #fff5;

    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: 15px;

    overflow: hidden;
}

.table_header{
    width: 100%;
    height: 10%;
    background-color: #fff4;
    padding: .8rem 1rem;
    margin-top: 80px;

}

.table_body{
    width: 95%;
    max-height: calc(89% - .8rem);
    background-color: #fffb;
    margin: .8rem  auto;
    border-radius: .6rem;
    overflow: auto;
}

.table_body ::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}


.table_body ::-webkit-scrollbar-thumb{
    border-radius: 5rem;
    background-color: #0004;
    visibility: hidden;

}

.table_body:hover ::-webkit-scrollbar-thumb{
    border-radius: 5rem;
    background-color: #0004;
    visibility: visible;
    
}

table{
    width: 100%;
}

thead, th{
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d5d1defe;

}

tbody tr:hover{
    background-color: #0000000b;
}

.card{
    box-shadow: 0 .4rem .8rem #0005;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 20px;
}

.updates{
    color:black;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}






@media screen and (max-width: 768px){
    body{
        font: size 16px;
    }
}

@media screen and (min-width: 769px){
    body{
        font: size 16px;
    }
}


